<hr>
<h2>{{titulo}}</h2>

<h3>Selector de colores</h3>

<button (click)="mostrar_log()">Mostrar lOg </button>
<input type="text" [(ngModel)]= "color_seleccionado"/>

<pre [style.border]="color_seleccionado=='red' ? '3px solid gray' : '1px solid green'">
    <strong>Color seleccionado:</strong>
    {{color_seleccionado}}
</pre>

<div [ngStyle]="{
    background: color_seleccionado,
    width: '200px',
    height: '200px',
    'margin': 'auto'
}"></div>
<div style="clear:both"></div>


<h3>Colores con Stwich</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
        background:color, 
        color:'white',
        padding: '1em'
        }"> Es de color rojo</li>
</ul>



<div *ngIf="trabajador_externo== true">
<button (click)="cambiarExterno(false)">Mostrar Empleados</button>
    <ul>
        <li>{{trabajadores[0].nombre}}</li>
        <li>{{trabajadores[0].edad}}</li>
        <li>{{trabajadores[0].cargo}}</li>
        <li>{{trabajadores[0].contratado}}</li>

    </ul>
</div>

<div *ngIf="trabajador_externo==false">  
<button (click)="cambiarExterno(true)">Mostrar Trabajadores</button>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li>{{empleado.contratado}}</li>
    </ul>
</div>

<h3>Listado de empleados</h3>
<ul>
    <li *ngFor="let empleado of trabajadores, let i=index">
        <strong>Empleado: {{i+1}} </strong>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado==true">Esta contratado</li> 
            <li *ngIf="empleado.contratado==false">No esta contratado</li>
        </ul>
    </li>
</ul>